@import "../utils.scss";

.video-presentation {
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0 50px;
}

.video-presentation__text-wrapper {
  margin: 0 30px 40px;
}

@media (min-width: $tablet-width) {
  .video-presentation__description {
    margin: 0 auto;
    max-width: 500px;
  }
}
